.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
}
div{
    display: block;
}
.top-container{
    position: relative;
    padding-bottom: 50px;
    width: 100%;
    background-color: rgb(255, 255, 136);
}
.middle-container{
    padding: 50px;
    width: 100%;
    background-color: rgb(110, 252, 174);
}
.bottom-container{
    display: block;
    padding: 40px;
    width: 100%;
    background-color: beige;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
.imgs{
    padding: 10px;
    height: 250px;
    width: 250px;
    
}
.span{
    font-family: "Marcellus SC", serif;
    font-weight: 400;
    font-style: normal;
}
.heading1{
    font-size: 60px;
    font-family: "Akaya Telivigala", system-ui;
    font-weight: 600;
    font-style: normal;
}
.heading2{
    font-size: 60px;
    font-family: "Rubik Distressed", system-ui;
    font-weight: 550;
    font-style: normal;
}
.heading3{
    font-size: 50px;
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.headers{
    font-size: 40px;
    font-family: "Reggae One", system-ui;
    font-weight: 400;
    font-style: normal;
} 
.content{
    font-size: 20px;
    font-family: "Akaya Telivigala", system-ui;
    font-weight: 600;
    font-style: normal;
}
